<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SettingDetails</servlet-name>
        <servlet-class>controller.SettingDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectSettingController</servlet-name>
        <servlet-class>controller.SubjectSettingListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionSubjectSetting</servlet-name>
        <servlet-class>controller.ActionSubjectSetting</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentListController</servlet-name>
        <servlet-class>controller.StudentListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IterationEvaluationController</servlet-name>
        <servlet-class>controller.IterationEvaluationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettingDetails</servlet-name>
        <url-pattern>/settingdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectSettingController</servlet-name>
        <url-pattern>/SubjectSettingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionSubjectSetting</servlet-name>
        <url-pattern>/ActionSubjectSetting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentListController</servlet-name>
        <url-pattern>/StudentListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IterationEvaluationController</servlet-name>
        <url-pattern>/dashboard/itervaluas/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
